blinker==1.4
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
fishbase==1.0.13
Flask==1.0.2
Flask-Cors==3.0.4
Flask-HTTPAuth==3.2.3
Flask-Login==0.4.0
Flask-Mail==0.9.1
#Flask-SQLAlchemy==2.2
Flask-SQLAlchemy==1.3.0
gunicorn==19.8.1
idna==2.5
itsdangerous==0.24
#Jinja2==2.10
Jinja2==2.10.1
MarkupSafe==1.0
numpy==1.21.0
pandas==0.20.3
passlib==1.7.1
Pillow==5.1.0
PyMySQL==0.7.11
python-dateutil==2.6.0
pytz==2017.2
redis==2.10.6
#requests==2.18.1
requests==2.20.0
simplejson==3.11.1
six==1.10.0
#SQLAlchemy==1.1.13
SQLAlchemy==1.3.0
#urllib3==1.21.1
urllib3==1.24.2
uWSGI==2.0.15
uwsgitop==0.10
Werkzeug==0.14.1
